.homepage {
    display: flex;
    align-items: center;
    height: 100vh;
    gap: 5vw; 
    margin-left: 8%; 
    flex-wrap: wrap; /* Permite que os elementos fluam para a próxima linha */
}

@media (max-width: 1024px) {
    .homepage {
        gap: 4vw; 
        margin-left: 5%; 
    }
}

@media (max-width: 768px) {
    .homepage {
        gap: 3vw; 
        margin-left: 3%; 
    }
}

@media (max-width: 500px) {
    .homepage {
        gap: 2vw; 
        margin-left: 2%; 
    }
}

.card {
    background-color: #304019;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 100%; 
    max-width: 250px;
    margin-left: 100px;
    text-align: center;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .cards-container{
        display: flex;
        width: 100px;
        align-items: center;
        margin-top: 100px;
    }
}

.card:hover{
    background-color: #495c2e;
}

.cards-container {
    display: flex;
    flex-direction: column; 
}

.info-card{
    background-color: #b8bbb4;
    border-radius: 10px;
    width: 100%; 
    height: 500px;
    padding: 20px;
    max-width: 250px; 
    margin-left: 100px;
    text-align: justify;
    margin-bottom: 15px;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

/* GRAFICOS */

.charts {
    margin: auto;
}

.chart-container {
    aspect-ratio: 1;
    width: 100%;
    max-width: 300px; 
    margin-bottom: 20px; 
}

.chart {
    width: 100%;
    height: 100%;
    background: conic-gradient(
        var(--colors, #495c2e 0%)
    );
    border-radius: 50%;
    margin: auto;
}

@media (max-width: 768px) {
    .chart-container {
        width: 90%; 
    }
}

@media (max-width: 500px) {
    .chart-container {
        width: 100%;
        max-width: 250px; 
    }
}

.label {
    display: flex;
    align-items: center;
    margin-bottom: 8px; 
    color: black;
}

.label .color-box {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border-radius: 8px; 
}