html {
    background-color: #ece3e3;
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}


.navbar-custom {
    background-color: #304019;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 15px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.banner-container {
    background-color: #ece3e3; 
    padding: 50px 0;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* Ícone de perfil com ajuste de alinhamento */
.profile-icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
    margin-left: 15px;
    padding-top: 5px; /* Ajuste este valor conforme necessário */
}

.profile-icon {
    font-size: 20px;
    vertical-align: middle; /* Ajuste de alinhamento */
}

/* Pop-out do menu de perfil */
.profile-menu {
    display: none; /* Oculto inicialmente */
    position: fixed; /* Fixar na tela */
    top: 60px; /* Distância da barra de navegação */
    right: 10px; /* Alinhado à direita */
    background-color: white;
    color: #304019;
    padding: 20px; /* Ajustar o padding conforme necessário */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    min-width: 200px;
    z-index: 1001; /* Sobreposição acima da barra */
}

/* Classe para exibir o pop-out */
.profile-menu.show {
    display: block;
}

/* Ícone de perfil */
.profile-icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
}

.hidden { display: none; } /* Classe auxiliar */

.btlogout {
    background-color: #304019; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove bordas padrão */
    border-radius: 5px; /* Bordas arredondadas */
    text-align: center;
    cursor: pointer; /* Cursor muda para pointer */
    transition: background-color 0.3s; /* Efeito de transição suave */
}

.btlogout:hover {
    background-color: #718556; /* Cor de fundo ao passar o mouse */
}

.show {
    display: block;
}

.content-container {
    background-color: white;
    padding: 30px;
    width: 90%;
    max-width: 1000px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #173f26;

}


.insumos-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.insumo-card {
    background-color: #304019;
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.insumo-card h3 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 15px;
}

.insumo-card p {
    margin: 5px 0;
    font-size: 16px;
}
