.profile-menu {
    position: fixed;
    top: 20%;
    right: 20%;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
}

.profile-menu.hidden {
    display: none;
}

.profile-menu button {
    margin-top: 10px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

.profile-menu button:hover {
    background-color: #d32f2f;
}